*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.video-box{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-box video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed; 
    left: 0px;
    top: 0px;
    z-index: -1;
    color: white;
}

.scan-resault{
    position: absolute;
    top: 0px
}
.message{
    position: absolute;
    color: white;
    top: 100px;
    font-size:2rem;
}
.qr-scanner-img{
    width: 300px;
    position: relative;
}
.qr-scanner-img img{
    width: 100%;
}
.line-scanner{
    height: 10px;
    width: 100%;
    background-color:#FEBB27;
    position: absolute;
    animation-name: line-scanner;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes line-scanner {
    0%   {
        top:70px;
    }
    50% {
        top: 215px;
    }
    100% {
        top: 70px;
    }
    /* 100% {top: 210px;}
    100% {top: 210px;} */
  }